.container {
  background: linear-gradient(#000000c4, #000000c4),
    url("/public/images/slider.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 25px 0;
}
